<html>
<h1>Departments List</h1>
<table border='1px'>
    <thead>
        <tr>
            <th>dept_id</th>
            <th>name</th>
            <th>created_at</th>
            <th>updated_at</th>
        </tr>
    </thead>
    <tbody>
        {% for d in departments %}
        <tr>
            <td>{{ d.dept_id }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.created_at }}</td>
            <td>{{ d.updated_at }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
    <br>
     <a href="{% url 'home' %}">Go to Home Page</a><br><br>
</html>