<html>
<h1>Nurses List</h1>
<table border='1px'>
    <thead>
        <tr>
            <th>nurse_id</th>
            <th>name</th>
            <th>email</th>
            <th>phone</th>
            <th>city</th>
            <th>created_at</th>
            <th>updated_at</th>
        </tr>
    </thead>
    <tbody>
        {% for n in nurses %}
        <tr>
            <td>{{ n.nurse_id }}</td>
            <td>{{ n.name }}</td>
            <td>{{ n.email }}</td>
            <td>{{ n.phone }}</td>
            <td>{{ n.city }}</td>
            <td>{{ n.created_at }}</td>
            <td>{{ n.updated_at }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
    <br>
     <a href="{% url 'home' %}">Go to Home Page</a><br><br>
</html>