<html>
<head>
    <title>welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>

<body>

    <!-- Header -->
    <div class="header">
        ABC MULTI SPECIALITY HOSPITAL
    </div>

    <div class="main">

        <!-- Left Panel -->
        <div class="sidebar">
            <a href="admin">Admin</a><br><br>
            <a href="{% url 'dash-board' %}">Dashboard</a><br><br>
            <a href="{% url 'list-departments' %}">Departments</a><br><br>
            <a href="{% url 'list-doctors' %}">Doctors</a><br><br>
            <a href="{% url 'list-nurses' %}">Nurses</a><br><br>
            <a href="{% url 'list-patients' %}">Patients</a><br><br>
            <a href="{% url 'list-appointments' %}">Appointments</a><br>
            <a href="{% url 'log-out' %}">LogOut</a><br>
        </div>

        <!-- Main Content -->
        <div class="content">
            {% include "dashboard/dashboard.html" %}
            <p></p>

        </div>

    </div>

</body>
</html>